<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<style>
input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
</style>
<body>
<h1>Form</h1>

<form th:action="@{/foodCalc}" method="post">
    <label for="activity">Activity:</label><br>
    <select name="activity" id="activity">
        <option value="0">Select option:</option>
        <option value="Minimal activity">Minimal activity (or old)</option>
        <option value="Low activity">Low activity</option>
        <option value="Medium activity">Medium activity</option>
        <option value="High activity">High activity</option>
        <option value="Very high activity">Very high activity</option>
    </select><br>
    <label for="weight" >Weight:</label><br>
    <input type="number" id="weight" name="weight" placeholder="0.00"><br>
    <label for="age">Age:</label><br>
    <input type="number" id="age" name="age" placeholder="0"><br>
    <div th:each="option : ${options}">
        <input type="checkbox" name="allergies" th:value="${option.allergicName}" th:id="${'allergy-' + option.allergicId}" />
        <label th:for="${'allergy-' + option.allergicId}" th:text="${option.allergicName}"></label><br>
    </div>
    <label for="price">Enter maximum price:</label><br>
    <input type="number" id="price" name="price" placeholder="0.00">
    <input type="submit" value="Submit">
</form>
</body>
</html>